@import url(css/navbar.css);
@import url(css/hero-section.css);
@import url(css/aboutme-section.css);
@import url(css/portoflio-section.css);
@import url(css/footer-section.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(300deg, #fffb00, #ffffff);
  background-size: 180% 180%;

  animation-duration: 15s;
  animation-name: gradient-animation;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
    /* background-color: aquamarine; */
  }
  100% {
    background-position: 0% 50%;
  }
}
